import type { PropsWithChildren } from "react";
import classes from "./{{pascalCase name}}.module.scss";

type {{pascalCase name}}Props = {}

export const {{pascalCase name}} = (
  {{camelCase name}}: PropsWithChildren<{{pascalCase name}}Props>
) => {
  return (
    <div className={ classes.{{camelCase name}} }>
      <pre>{JSON.stringify({{camelCase name}}, null, 2)}</pre>
    </div>
  );
};